{% extends "TitomePeintrePhilippeLerouxBundle::layoutAdmin.html.twig" %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block corps %}
    <div class="row-fluid">
        <div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Image:indexAdmin.html.twig" %}</div>
        <div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Carousel:indexAdmin.html.twig" %}</div>
    </div>
    <div class="row-fluid">
        <div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Bio:indexAdmin.html.twig" %}</div>
        <div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Actu:indexAdmin.html.twig" %}</div>
        {# EXPO
        <div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Expo:indexAdmin.html.twig" %}</div>#}
    </div>
    <div class="row-fluid">
    	<div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Livre:indexAdmin.html.twig" %}</div>
        <div class="span6">{% include "TitomePeintrePhilippeLerouxBundle:Piwik:indexAdmin.html.twig" %}</div>
    </div>
{% endblock %}