{% extends '::base.html.twig' %}

{% block nav %}
    <nav>
        <h1>PHILIPPE LEROUX</h1>
        <ul>
            <li><a href="#">Exposition</a></li>
            <li><a href="#">Actualité</a></li>
            <li><a href="#">Galerie</a></li>
            <li><a href="#">Livres</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Biographie</a></li>
        </ul>
    </nav>
{% endblock %}