{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets 
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap.min.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/peintrephilippeleroux.css'
        output='css/style.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block nav %}
    <div class="navbar red">
        <div class="navbar-inner">
            <div class="container">
                {# TODO: Faire une page d'accueil du site #}
                <a class="brand" href="#">PHILIPPE LEROUX</a>
                <ul class="nav">
                    <li class="dropdown"><a href="#">Exposition</a></li>
                    <li class="dropdown"><a href="#">Actualité</a></li>
                    <li class="dropdown"><a href="{{ path('Galerie') }}">Galerie</a></li>
                    <li class="dropdown"><a href="#">Livres</a></li>
                    <li class="dropdown"><a href="#">Contact</a></li>
                    <li class="dropdown"><a href="#">Biographie</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}