{% extends '::base.html.twig' %}

{% block nav %}
    <nav>
        <h1>Panel d'administration</h1>
        <ul>
            <li><a href="{{ path('AjoutImage') }}">Ajouter une image dans la galerie</a></li>
        </ul>
    </nav>
{% endblock %}