<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">Livre</li>
		<li><a href="{{ path('AjoutLivre') }}">Ajouter</a></li>
		<li><a href="{{ path('Livre') }}">Modifier</a></li>
	</ul>
</div>