/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/.buildpath
/.project
/.settings/*
/src/Titome/PeintrePhilippeLerouxBundle/Form/Handler/Email/EmailHandler.php
/vendor/*
/web/bundles/*
/web/image/*
/web/media/*
/web/app_dev.php
/web/config.php
