{% extends "TitomePeintrePhilippeLerouxBundle::layoutAdmin.html.twig" %}

{% block title %}Ajouter une image - {{ parent() }}{% endblock %}

{% block corps %}
    <div class="container">
        <h1>Ajouter une image</h1>

        <form action="#" method="post" {{ form_enctype(form) }} class="well">
            {% for emailField in form.images %}
                <li>
                    {{ form_errors(emailField) }}
                    {{ form_widget(emailField) }}
                </li>
            {% endfor %}

            <input type="submit" value="Envoyer l'image" class="btn"/>
        </form>
    </div>
{% endblock %}