<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Carrousel</li>
        <li>
            <a href="{{ path('AjoutCarousel') }}">Ajouter une image</a>
        </li>
        {# TODO : À faire
        <li>
            <a href="{{ path('OrdreCarousel') }}">Modifier l'ordre des images</a>
        </li>#}
        <li>
            <a href="{{ path('DeleteViewCarousel') }}">Supprimer une image</a>
        </li>
    </ul>
</div>
                    