{% extends "TitomePeintrePhilippeLerouxBundle::layout.html.twig" %}

{% block title %}Biographie - {{ parent() }}{% endblock %}

{% block corps %}
    {{ parent() }}

    <section>
        <p>{{ bio.bio | raw }}</p>
    </section>
{% endblock %}