<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Biographie</li>
        <li>
            <a href="{{ path('ModifBio') }}">Modifier la biographie</a>
        </li>
    </ul>
</div>