<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Peintre Philippe Leroux{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {# TODO: Mettre le favicon dans le dossier Resources du bundle #}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block nav %}{% endblock %}
            {% block corps %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts        
                '@TitomePeintrePhilippeLerouxBundle/Resources/public/js/jquery-1.7.2.min.js'
                '@TitomePeintrePhilippeLerouxBundle/Resources/public/js/bootstrap.min.js'
                '@TitomePeintrePhilippeLerouxBundle/Resources/public/zoombox/zoombox.js'
                output='main.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
