<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Statistique de visite</li>
        <li>
            <a href="http://stat.timotheegirard.com">Consulter les statistiques de visite</a>
        </li>
    </ul>
</div>