{% extends "TitomePeintrePhilippeLerouxBundle::layout.html.twig" %}

{% block title %}Lire - {{ parent() }}{% endblock %}

{% block corps %}
	{{ parent() }}

	<section class="center">
		<div id="flipbook">
			{% for page in pages %}
				<div><img src="{{ asset(('image/'~page.nom) | apply_filter('livre')) }}" /></div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$("#flipbook").turn({
			width: 842,
			height: 550,
			autoCenter: true
		});
	</script>
{% endblock %}