@media (max-width: 480px) {
  .page-headerRed h1 small {
    display: block;
    line-height: 18px;
  }
}
@media (max-width: 979px) {
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
}
