{% extends "TitomePeintrePhilippeLerouxBundle::layout.html.twig" %}

{% block title %}Ajouter une image - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Ajouter une image</h1>
    
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            
        <input type="submit" value="Envoyer l'image" />
    </form>
{% endblock %}