<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Image</li>
        <li>
            <a href="{{ path('AjoutImage') }}">Ajouter</a>
        </li>
        <li>
            <a href="#">Modifier</a>
        </li>
        <li>
            <a href="#">Supprimer</a>
        </li>
    </ul>
</div>