// COLOR

.red
{
    color: red;
}

//Background
.blackB
{
    background-color: black;
}
// SIZE

.fontSize18px
{
    font-size: 18px;
}

.fontSize20px
{
    font-size: 20px;
}

// TYPO

.underline
{
    text-decoration: underline;
}

// MARGIN

.margin2pl
{
    margin-left: 2%;
}

.margin4pr
{
    margin-right: 4%;
}

// PADDING

.padding300pxl
{
    padding-left: 300px;
}

// CENTRER

// Centrer le carousel
.center
{
    width: 800px;
    margin: auto;
}

// Centrer les livres
.center-book
{
    width: 842px;
    margin: auto;
}

// Text-align: center
.text-align-center
{
    text-align: center;
}

// COMPOSANT HTML

// a
.linkUnderline
{
    text-decoration: underline;
}