// COLOR

.red
{
    color: red;
}

//Background
.blackB
{
    background-color: black;
}
// SIZE

.fontSize20px
{
    font-size: 20px;
}

// TYPO

.underline
{
    text-decoration: underline;
}

// MARGIN

.margin2pl
{
    margin-left: 2%;
}

.margin4pr
{
    margin-right: 4%;
}

// Centrer le carousel
.center
{
    width: 800px;
    margin: auto;
}